*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
**.bat
/.idea
*.webp
*.pro
**/mipmap-anydpi-v26
/app/.gitignore
/app/src/main/res/drawable/ic_launcher_background.xml
/app/src/main/res/drawable/ic_launcher_foreground.xml
**.jar
